/* written by janak mallik */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}

.navbar
{
    font-size: 16px;

    box-shadow: 0 5px 10px rgb(0,0,0,0.1);

}

.navbar-light .navbar-nav .nav-item .nav-link {
    padding: 0 20px;
    color: black;
    cursor: pointer; 
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-item .nav-link.active,
.navbar i.active{
    /* color: cornflowerblue; */
    /* color: dodgerblue; */
    /* color: royalblue; */
    color: coral;
}

.navbar i{
    font-size: 1.5rem;
    /* padding: 1px 1px; */
    /* cursor: pointer; */
    /* transition: 0.3s ease; */
    /* color: red; */
}

/* mobile nav */

.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}

#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 100%;
    transition: 0.3s ease;
    color: black;
}

#bar:hover,
#bar.active{
    color: red;
}

@media only screen and (max-width: 991px){
    #navbarSupportedContent > ul{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        padding: 4px;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a {
        padding: 10px 0;
    }
}


footer {
    background-color: black;
}

footer h5{
    color: aliceblue;
    font-weight: 700;
    font-size: 1.2rem;
}

footer h2{
    color: aliceblue;
}

footer h6{
    color: grey;
}

footer a{
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
}

h1 a {
    text-decoration: none;
    color:black;
}

h1 a:hover {
    text-decoration: none;
    /* color:rgb(58, 57, 57); */
    color: black;
    font-size: 110%;
    transition: 100ms;
}

footer li{
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    /* color: blue; */
}

/* footer li a:hover {
    color:lightgray;

} */

footer a:hover {
    color:lightgray;

}

/* footer a:visited {
    text-decoration: none;
    color:lightgray;
  } */

footer p{
    font-size: 0.8rem;
    color: aliceblue;
}


#login_page{
    margin-top: 100px;
}


/* button button button button button button button button  */

button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color:  aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}

/* button:hover{
    background-color: #3a3833;
} */

/* button button button button button button button button  */




#new .two img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* .carousel-control {
data-slide:next ;
data-slide:prev;   
} */


/* goto top  goto top  goto top  goto top  goto top  goto top  goto top  goto top  */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  /* goto top  goto top  goto top  goto top  goto top  goto top  goto top  goto top  goto top  goto top  goto top  goto top  */


